<!DOCTYPE html>
<html>
<head>
  <title>ArrayPlay</title>
</head>
<body>
  <h1 style="color:rgb(184, 184, 184)">ArrayPlay Homework</h1>
  <h2>Explorer mode</h2>
  <p>1. <%= our_class %></p>
  <p>2. <%= shortnames %></p>
  <p>3. <%= shortwords %></p>
  <p>4.a <%= lowbudget %></p>
  <p>4.b <%= leonardo %></p>

  <h2>Adventure mode</h2>
    <p>1. <%= four_words(sentence) %></p>
    <p>2. <%= how_many_words(sentence,2) %></p>
    <p>3. <%= moviebudget %></p>

  <h2>Epic mode</h2>
    <p>1. <%= starsarray %></p>
    <p>2. <%= starring("Tom Hanks",movies) %></p>
    <p>3. <%= avgmoviebudget %></p>
    <p>4. <%= medianmoviebudget %></p>

</body>
</html>
